<div id="main">
    <div id="r1">
        <input id="search-input" type="text" class="text-input" ng-model="searchPhrase" ng-enter="search(searchPhrase)" placeholder="Enter text...">
        <button id="search-button" type="button" class="button" ng-click="search(searchPhrase)">Search</button>
    </div>
    <div id="r2">
        <div id="list">
            <ul class="list">
                <li class="list-item" ng-repeat="document in documents" ng-click="open(document.id)">{{document.title}}</li>
            </ul>
        </div>
        <div id="content">
            <div id="title">
                <input id="title-input" type="text" class="text-input" ng-class="{changed: titleChanged}" ng-model="document.title" ng-blur="detectChanges()">
            </div>
            <div id="text">
                <textarea id="text-area" class="text-area" ng-class="{changed: contentChanged}" ng-model="document.content" ng-blur="detectChanges()"></textarea>
            </div>
            <div id="buttons">
                <button id="delete-button" type="button" class="button" ng-click="delete()">Delete</button>
                <button id="new-button" type="button" class="button" ng-click="new()">New</button>
                <button id="save-button" type="button" class="button" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>