<!DOCTYPE html>
<html ng-app="xhc.app" ng-init>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>XHC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./index.css">

</head>
<body ng-controller="DocumentController" class="h-100">
<div class="container h-100">
    <div ui-view="header-view"></div>
    <div ui-view="login-view"></div>
    <div ui-view="app-view"></div>
    <div ui-view="footer-view"></div>
</div>
    <!--<div class="container h-100 ">-->

        <!--<header class="row navbar navbar-expand navbar-dark bg-dark">-->
            <!--<div class="col-md-4 px-1">-->
                <!--<a class="navbar-brand" href="#" ng-click="new()">XHC+</a>-->
            <!--</div>-->
            <!--<div class="col-md-4 px-1">-->
                <!--<input  type="text" class="input-md w-100 form-control" ng-model="searchPhrase" ng-enter="search(searchPhrase)" placeholder="Enter text...">-->
            <!--</div>-->
            <!--<div class="col-md-4 px-1">-->
                <!--<button type="button" class="btn btn-sm standard-btn btn-primary" ng-click="search(searchPhrase)">Search</button>-->
            <!--</div>-->
        <!--</header>-->

        <!--<div class="row my-1">-->

            <!--<div class="col-md-3 px-1 h-100 border">-->
                <!--<ul class="list-group result-list h-100">-->
                    <!--<li class="list-group-item list-group-item-action py-0 px-1" ng-repeat="document in documents" ng-click="open(document.id)">{{document.title}}</li>-->
                <!--</ul>-->
            <!--</div>-->

            <!--<div class="col-md-9  px-1 h-100">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<input type="text" class="form-control py-1 px-1" ng-class="{changed: titleChanged}" ng-model="document.title" ng-blur="detectChanges()">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row h-100">-->
                    <!--<div class="col-md-12 h-100">-->
                        <!--<textarea class="form-control  px-1 my-1 w-100 content-area" ng-class="{changed: contentChanged}" ng-model="document.content" ng-blur="detectChanges()"></textarea>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row ">-->
                    <!--<div class="col-md-2">-->
                        <!--<button type="button" class="btn btn-sm standard-btn btn-outline-danger float-left px-1" ng-click="delete()">Delete</button>-->
                    <!--</div>-->
                    <!--<div class="col-md-8 text-center">-->
                        <!--<span class="small " ng-show="document.id">Created: {{document.createDate}}, Updated: {{document.updateDate}}</span>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<button type="button" class="btn btn-sm standard-btn btn-outline-success float-right  px-1" ng-click="save()">Save</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <!--<footer class="row my-1 fixed-bottom">-->
            <!--<div class="col-md-12">-->
                <!--<p class="small px-1 mb-0">Copyright 2017 WK-Pragmatics</p>-->
            <!--</div>-->
        <!--</footer>-->

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>

    <script src="./app/app-services.js"></script>
    <script src="./app/app-config.js"></script>
    <script src="./app/app.js"></script>
</body>
</html>