.standard-btn {
    min-width: 90px;
    max-width: 90px;
}

.fill {
    height: 100%;
}

html, body {
    height: 100%;
}


.content-area {
    height: 540px;
}

textarea {
    line-height: 1.2 !important;
}

.changed {
    background-color: #ffe2e2;
}

ul {
    overflow: hidden;
    overflow-y: auto;
    max-height: 574px;
}